body {
    margin: 0;
    padding: 0;
    background: url('/images/pattern_2.png');
}

input {
  -webkit-text-security: none;
  content: "â–";
}

.container {
    width: 560px;
    margin: 0 auto;
}

.fblock > h1 {
    font-family: KelsonSans-Bold;
    color: #ff6e6e;
    font-size: 30px;
    text-align: center;
    height: 29px;
}

.fblock {
    width: 273px;
    margin: 0 0 0 0;
}

.form {
    width: 265px;
    background: #efefef;
    border: 4px solid #e4e0e0;
    text-align: center;
}

.form > h3 {
    font-family: KelsonSans-Regular;
    font-weight: normal;
    text-align: center;
    font-size: 16.92px;
    margin: 25px 0 0 0;
}

.form > input {
    height: 36px;
    width: 239px;
    margin: -8px 0 0 0;
    border-radius: 4px;
    border: 1px solid #dadada;
    outline: none;
    transition: .2s;
    font-size: 18px;
    color: #676363;
}

.form > input:focus {
    border: 5px solid #ff6e6e;
}

.login {
    float: left;
}

.signup {
    float: right;
}

.fblock > button {
    margin: 10px 0 0 0;
    background: #6e6eff;
    color: #fff;
    width: 270px;
    height: 52px;
    border-radius: 7px;
    font-size: 21px;
    font-family: KelsonSans-Bold;
    border: 0;
    outline: none;
    cursor: pointer;
    transition: .4s;
}

.fblock > button:hover {
    background: #976eff;
}

.f1 {
   height: 220px;
}

.f2 {
    height: 490px;
}
